<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Jsme jičínská půjčovna zábavních nafukovacích atrakcí pro děti s možností dovozu. Nabízíme ty nejlepší atrakce oblíbené značky Happy Hop." />
    <meta property="og:image" content="http://skakacihradyjicin.cz/images/atrakce/velka-skluzavka_2.jpg" />
    <title><%= current_page.data.title || "Skákací hrady Jičín" %></title>
    <%= stylesheet_link_tag :application %>
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '121887698502632');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=121887698502632&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>

  <body class="<%= page_classes %>">
    <header class="navigation" role="banner">
      <h1><%= link_to 'Skákací hrady Jičín', '/' %></h1>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link"><a href="/#o-nas">O nás</a></li>
          <li class="nav-link"><a href="/#kontakt">Kontakt</a></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <%= javascript_include_tag :all %>
  </body>
</html>
