<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Jsme jičínská půjčovna zábavních nafukovacích atrakcí pro děti s možností dovozu. Nabízíme ty nejlepší atrakce oblíbené značky Happy Hop." />
    <meta property="og:image" content="http://skakacihradyjicin.cz/images/atrakce/velka-skluzavka_2.jpg" />
    <title><%= current_page.data.title || "Skákací hrady Jičín" %></title>
    <%= stylesheet_link_tag :application %>
  </head>

  <body class="<%= page_classes %>">
    <header class="navigation" role="banner">
      <h1><%= link_to 'Skákací hrady Jičín', '/' %></h1>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <li class="nav-link"><a href="/">Nabídka</a></li>
          <li class="nav-link"><a href="/#o-nas">O nás</a></li>
          <li class="nav-link"><a href="/#kontakt">Kontakt</a></li>
        </ul>
      </nav>
    </header>

    <%= yield %>

    <%= javascript_include_tag :all %>
  </body>
</html>
