
<article class="detail">
  <h2><%= atrakce.name %></h2>
  <p><%= atrakce.description %></p>

  <a class="button" href="#order">Zjistit více</a>

  <div class="images">
    <% photos(atrakce.photos_slug).each do |photo| %>
      <img src="<%= photo %>" />
    <% end %>
  </div>

  <%= partial "cenik_#{atrakce.pricelist}" %>
</article>

<section>
  <h2 id="order">Objednávka</h2>
  <%= partial "formular" %>
</section>

<section>
  <h2>Informace k pronájmu</h2>
  <ul>
    <li>sazba za pronájem atrakce je počítána za jeden den do 18:00, případně dle domluvy</li>
    <li>na místě seznámíme nájemce s obsluhou atrakce</li>
    <li>věk nájemce musí být minimálně 18 let</li>
    <li>pro montáž atrakce je zapotřebí vhodná plocha pro provoz a ukotvení atrakce Tj. rovný terén a stálý přívod el. energie</li>
    <li>atrakce lze použít nejen v exteriéru, ale také v interiéru(tělocvičny, haly atd.)</li>
    <li>pronajímané atrakce mají všechny potřebné bezpečnostní certifikáty pro ČR a EU</li>
  </ul>
</section>
